parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Extension.php
